.navbar-myproject {
  justify-content: space-between;
  background: rgb(243, 243, 243);
}

.navbar-myproject .navbar-collapse {
  flex-grow: 0;
}

.navbar-myproject .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
