@import "bootstrap";
@import "config/colors";
@import "config/fonts";
@import "components/index";
@import "pages/index";

body {
  padding-top: 65px;
}

@media (max-width: 499px) {
  .d-md-table-cell {
    display: none !important;
  }
}
